body{

font-family: 'Nunito', sans-serif;
color: white;
margin: 0;
height: 100vh;
width: 100%;
background-image: url(file:///ECV/D5/Web%20Design/D5-TC-PROJET02/Site-Code/images/fond-de%CC%81grade%CC%81.png);
background-size: cover;
margin-left: auto;
margin-right: auto;
text-align: center;
padding-top: 150px;

}

h1{

font-size: 50px;

}

h3{

font-weight: 400;
font-size: 22px;
line-height: 30px;

}

h2{

font-size: 30px;
font-weight: 400;

}

img{

margin-top: 100px;
max-width: 1.5%;

}
